.panel-heading {
	font-weight: bold;
}
.panel-body{
	position: relative;
	height: auto;
	border: 1px solid #ced4da;
	padding: 0 !important;
}
.todo-item{
	border-bottom: 1px solid #ccc;
    padding: 12px;
    border-right: 1px solid #ccc;
}
.md-textarea{
	height: 300px !important;
	margin-bottom: 20px;
}
.notes_list{
	position: relative;
	height: auto;
}
.inst_text {
	margin: 18px;
}
.save_btn{
	height: 25px;
    bottom: 2px;
    position: relative;
}
.modal-body{
	position: relative;
    padding: 14px;
}
.btn-default{
	margin: 14px;
}